.app-grid-tile {
  background-color: white;
}

.mat-grid-list {
  height: 92vh;
}

.mat-grid-tile.with-border{
  box-sizing: border-box;
  outline: 4px solid gray;
  outline-offset: -3vh;
  padding: 3vh;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header--title {
  flex: 2;
  text-align: left;
  margin-left: 5vh;
}

.header--logo {
  flex: 1;
  text-align: right;
  margin-right: 2.9vh;
}

.dropdowns {
  display: flex;
  flex-direction: column;
}

.list-container {
  overflow-y: auto;
  height: 100%;
}

.vehicle-list {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.vehicle-list--item {
  margin: 1vh 0;
}

.item-title {
  font-size: 1.4rem;
  font-weight: 700;
}
