<mat-grid-list cols="3" rowHeight="fit" gutterSize="10">
  <mat-grid-tile
      [colspan]="3"
      [rowspan]="2"
      class="app-grid-tile">
      <div class="header">
        <div class="header--title">
          <img src="assets/images/trafikmeister.svg" alt="TrafficMeister">
        </div>
        <div class="header--logo">
          <img src="assets/images/train.svg" alt="Train">
        </div>
      </div>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="2"
      [rowspan]="8"
      class="app-grid-tile">
      <div class="dropdowns">
        <mat-form-field>
          <mat-select
            id="type-dropdown"
            placeholder="Vehicle"
            [disabled]="typeSelectDisabled || brandSelectDisabled || colorSelectDisabled"
            [(ngModel)]="selectedType"
            (ngModelChange)="onTypeChange($event)">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            id="brand-dropdown"
            placeholder="Brand"
            [disabled]="typeSelectDisabled || brandSelectDisabled || colorSelectDisabled"
            [(ngModel)]="selectedBrand"
            (ngModelChange)="onBrandChange($event)" >
            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{ brand }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            id="color-dropdown"
            placeholder="Color"
            [disabled]="typeSelectDisabled || brandSelectDisabled || colorSelectDisabled"
            [(ngModel)]="selectedColor"
            (ngModelChange)="onColorChange($event)">
            <mat-option *ngFor="let color of colors" [value]="color">
              {{ color }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="8"
      class="app-grid-tile">
  </mat-grid-tile>
</mat-grid-list>
