.app-grid-tile {
  background-color: white;
}

.mat-grid-list {
  height: 92vh;
}

.mat-grid-tile {
  box-sizing: border-box;
  outline: 4px solid gray;
  outline-offset: -3vh;
  padding: 3vh;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header--title {
  flex: 2;
  text-align: left;
  margin-left: 5vh;
}

.header--logo {
  flex: 1;
  text-align: right;
  margin-right: 2.9vh;
}

.dropdowns {
  display: flex;
  flex-direction: column;
}
